{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Load CSS -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Google Map -->
  <!-- reference
    https://qiita.com/Haruka-Ogawa/items/997401a2edcd20e61037 -->
  <!-- https://www.itti.jp/web-design/how-to-display-a-map-using-google-map-api/ -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCleE-Z2qlfSDbIJWFRKA8susZPY44Vv3o&callback=initMap"
    async></script>
  <!-- Fontawesome_for_NEXT&Previous_Button -->
  <script src="https://kit.fontawesome.com/cc7e134709.js" crossorigin="anonymous"></script>

  <script>
    var map;
    var marker = [];
    var infoWindow = [];
    var listData = JSON.parse('{{ list_data_for_js|safe }}')


    new_latitude_longitude_list = []

    for (var i = 0; i < listData.length; i++) {
      // If new_latitude and new_longitude are NUll, they can't be on the list
      if (listData[i].new_latitude === null & listData[i].new_longitude === null) {
        continue;
      }
      new_latitude_longitude_list.push(listData[i])
    }

    var markerData = []
    for (var j = 0; j < new_latitude_longitude_list.length; j++) {
      // Here, assign each index number of new_latitude_longitude_list to the variables final_latitude and final_longitude.
      final_title = new_latitude_longitude_list[j].new_title
      final_latitude = new_latitude_longitude_list[j].new_latitude
      final_longitude = new_latitude_longitude_list[j].new_longitude

      // make the list "new_d" here、
      new_d = {
        name: final_title,
        lat: final_latitude,
        lng: final_longitude,
      }
      // Push new_d to the list "markerData"
      markerData.push(new_d)
    }

    function initMap() {
      // Create Map
      var mapLatLng = new google.maps.LatLng({ lat: markerData[0]['lat'], lng: markerData[0]['lng'] }); // Latitude / longitude data creation
      map = new google.maps.Map(document.getElementById('sample'), { // Embed map in #sample
        center: mapLatLng, // Specify the center of the map
        zoom: 100 // Specify map zoom
      });

      // Processing for each marker
      for (var i = 0; i < markerData.length; i++) {
        markerLatLng = new google.maps.LatLng({ lat: markerData[i]['lat'], lng: markerData[i]['lng'] }); // atitude / longitude data 
        marker[i] = new google.maps.Marker({ // Add marker
          position: markerLatLng, // Specify the position to put the marker
          map: map // Specify a map to set a marker
        });

        infoWindow[i] = new google.maps.InfoWindow({ // Add a callout
          content: '<div class="sample">' + markerData[i]['name'] + '</div>' // Contents to be displayed in the balloon
        });

        markerEvent(i); // Add click event to marker
      }

    }

    // Add click event to marker
    function markerEvent(i) {
      marker[i].addListener('click', function () { // When you click the maker
        infoWindow[i].open(map, marker[i]); // Display of balloons
      });
    }

  </script>
  <style>
  </style>
  <title>Mobilize</title>
</head>

<body>

  <div id="sample"></div>
  {% for list in list_data_for_html %}
  <div class="each_event">
    <h1>Id: {{ list.new_id }}</h1>
    <h2>Event Title: {{ list.new_title }}</h2>
    <h3>Description: {{ list.new_description }}</h3>
    <h4>Start Time: 
      {% for new_start_date in list.new_start_dates %}
      {{ new_start_date }} &nbsp; 
      {% endfor %}
    </h4>
    <h6>Timezone: {{ list.new_timezone }}</h6>
  </div>

  {% endfor %}
  <!-- Pagination -->
  <!-- Fontawesome、Arrow_Icon -->
  <!-- Set query parameters for each button
  reference
  https://utamaro.hatenablog.jp/entry/2018/10/21/102148 -->
  <div class="fontawesome-icon">
    {% if url_previous_querry_parameter %}
    <a class="fas fa-arrow-circle-left" href="{% url 'index' %}{{ url_previous_querry_parameter }}"></a>
    {% endif %}
    {% if url_next_querry_parameter %}
    <a class="fas fa-arrow-circle-right" href="{% url 'index' %}{{ url_next_querry_parameter }}"></a>
    {% endif %}
  </div>
</body>