p {
  font-family: 'Comic Sans MS', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}

h1 {
  font-family: 'Comic Sans MS', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}
h2 {
  font-family: 'Comic Sans MS', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}
h3 {
  font-family: 'Comic Sans MS', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}
h4 {
  font-family: 'Comic Sans MS', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}
h5 {
  font-family: 'Comic Sans MS', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}

body {
  background-color: #8504ff;
}